<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/static/student_dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons.min.css">
</head>
<body>
    <div class="container">
        <h1>Student Dashboard</h1>
        <a href="{{ url_for('take_quiz') }}" class="login">
            <ion-icon name="school-outline"></ion-icon> Take Quiz
        </a>
    </div>
</body>
</html>
