<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Quiz</title>
    <link rel="stylesheet" href="/static/take_quiz.css"> <!-- Link to the CSS file -->
</head>
<body>
    <div class="container">
        <h1>Take a Quiz</h1>
        <form method="POST">
            <label for="quiz_id">Select a Quiz:</label>
            <select name="quiz_id" required>
                <option value="">Select a Quiz</option>
                {% for quiz in quizzes %}
                <option value="{{ quiz._id }}">{{ quiz.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Start Quiz" class="submit-button">
        </form>
    </div>
</body>
</html>
